.albums {
    margin-right:70px;
}

.album * {
    margin-left:7%;
    margin-right:3%;
    width:90%;
}

.album img {
    margin-top:5%;
}

.album .title {
    font-weight:bold;
}

.album .artist {
    margin-bottom:5%;
}

.category {
    text-align:center;
}
