.albums {
    margin-right:70px;
}

.album * {
    margin-left:7%;
    margin-right:3%;
    width:90%;
}

.album img {
    outline:1px solid #cbcbcb;
    margin-top:5%;
}

.album .title {
    margin-top:10px;
    font-weight:bold;
}

.album .artist {
    margin-bottom:30px;
}

.category {
    text-align:center;
}
