.albums {
    margin-right:70px;
}

.album * {
    margin-left:7%;
    margin-right:3%;
    width:90%;
    text-align:center;
}

.album img {
    outline:1px solid #cbcbcb;
    margin-top:5%;
}

.album .title {
    margin-top:10px;
}

.album .artist {
    margin-bottom:30px;
    font-size:14px;
    font-style:italic;
}

.category {
    text-align:center;
}
