.player {
    background:#393838;
    color:white;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:30000;

    .buttons {
        text-align:center;
        font-size:24px;

        .fa-play,.fa-pause,.fa-circle-o-notch {
            padding:10px 15px;
            font-size:38px;
        }
        .fa-heart-o, .fa-heart {
            padding:16px;
        }
        .disabled {
            opacity:0.5;
        }
    }

    .buttons * {
        vertical-align:middle;
    }

    .progress {
        width:100%;
        height:15px;
        margin:21px 0 0 0;
        border-radius:15px;
        background:#111111;
        position:relative;

        .bar {
            position:absolute;
            width:0%;
            height:100%;
            border-radius:15px;
            background:#aaa;
            top:0;

        }
        .buffer {
            background:#555;
        }
        .cursor {
            position:absolute;
            top:50%;
            left:0%;
            margin-left:-14px;
            margin-top:-14px;
            font-size:24px;
        }
    }

    .cover {
        text-align:right;
        height:58px;
        img {
            position:relative;
            margin-top:-50%;
            box-shadow:0 0 15px black;
        }
    }

    .info {
        text-align:left;
        background:rgba(255,255,255,0.1);
        padding: 8px 0 0 12px;
        font-size:12px;

        .title {
            font-size:14px;
        }

        .artist {
            font-style: italic;
            color:rgba(255,255,255,0.7);
        }
    }

    .time {
        font-size:14px;
        margin:21px 0 0 0;
    }
}

.player > * {
    text-align:center;
}
