.playlist {
    width:100%;
    .cover {
        width:64px;
        padding:10px;

        img {
            width:64px;
            height:64px;
            vertical-align:middle;
        }
    }

}
