{# Common assets are loaded here, only #}
<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">

        <title>{{title|default:"Welcome"}} - Crates</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Curate your media">


        {% block head %}{% endblock %}
    </head>

    <body>

    {% block content %}
    Default content. Turns out crates isn't finished yet...
    {% endblock content %}

    </body>
</html>
