{% extends "crates/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "crates/bundle.css" %}">
<script src="{% static "crates/bundle.js" %}" async></script>
{% endblock head %}

{% block content %}

<div class="exit">
    <span>Welcome, {{user.username}}</span>
    <a href="/accounts/logout/"><i class="fa fa-sign-out"></i> Log out</a>

    {% if request.user.is_superuser %}
        <a href="/admin/" target="_new"><i class="fa fa-users"></i> Admin</a>
    {% endif %}
</div>

<div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">CRATES</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Albums</a></li>
                <li class="pure-menu-item" class="menu-item-divided pure-menu-selected"> <a href="#" class="pure-menu-link">Album Artists</a> </li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artists</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Genres</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Mixes</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Playlists</a></li>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Podcasts</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Audio Books</a></li>
            </ul>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">TV shows</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Movies</a></li>
            </ul>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Dashboard</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Crawlers</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="loading">
            <i class="fa fa-spin fa-3x fa-circle-o-notch"></i>
        </div>
    </div>

</div>

{% endblock content %}

