{% extends "crates/base.html" %}
{# TODO recovery/registration by loading offical form #}

{% load staticfiles %}



{% block head %}
<style>
.logo-container {
    text-align:right;
}
.logo {
    width:200px;
    display:inline-block;
    margin:40px;
}

.test * {
    outline:1px dotted red;
}

body {
    margin-top:10%;
}
</style>
{% endblock %}

{% block content %}
<div class="pure-g">
    <div class="logo-container pure-u-1-2">
        <img class="logo" src="{% static "crates/logo.gif" %}" />
    </div>
    <div class="pure-u-1-2">
        <form action="{% url 'django.contrib.auth.views.login' %}" method="post" class="pure-form pure-form-stacked">{% csrf_token %}
            {% if form.errors %}
                <div class="denied">ACCESS DENIED</div>
            {% endif %}
            <h1 class="banner">CRATES</h1>
            <fieldset>
                <label for="username">Email</label>
                <input id="id_username" type="text" name="username" placeholder="Username">

                <label for="password">Password</label>
                <input id="id_password" type="password" name="password" placeholder="Password">

                <input type="hidden" name="next" value="{{ next }}" />


                <button type="submit" class="pure-button pure-button-primary">Sign in</button>
            </fieldset>
        </form>
    </div>
    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>
</div>
{% endblock %}
