html {
    /* always display scroll bar so that AZ does not jump around  */
    overflow-y: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

a {
    text-decoration:none;
}

.exit {
    text-align:right;
    padding:10px;
}

.exit > * {
    padding-left:10px;
}

.albums {
    margin-right:70px;
}

.album * {
    margin-left:7%;
    margin-right:3%;
    width:90%;
}

.album img {
    margin-top:5%;
}

.album .title {
    font-weight:bold;
}

.album .artist {
    margin-bottom:5%;
}


table.songs {
    width:100%;
}

table.songs td.art {
    width:128px;
    height:40px;
    background-size:cover;
    background-position:50%;
}


.job .progress {
    background:#eee;
}

.job .progress .bar {
    background:#1f8dd6;
    width:45%;
    height:24px
}


.loading {
    position:absolute;
    top:45%;
    left:50%;
}

/* TODO decide if this should be horizontal or vertical */
/* TODO convert to SCSS */
.alphabet {
    position:fixed;
    right:0;
    top:40px;
    bottom:40px;
}

.alphabet li {
    font-size: 1.60vh;
    text-align:center;
    cursor:pointer;
}
