.exit {
    text-align:right;
    padding:10px;
}

.exit > * {
    padding-left:10px;
}

.album * {
    margin-left:7%;
    margin-right:3%;
    width:90%;
}

.album img {
    margin-top:5%;
}

.album .title {
    font-weight:bold;
}

.album .artist {
    margin-bottom:5%;
}


table.songs {
    width:100%;
}

table.songs td.art {
    width:128px;
    height:40px;
    background-size:cover;
    background-position:50%;
}


* {outline: 1px dashed red;}

.job .progress {
    background:#eee;
}

.job .progress .bar {
    background:#1f8dd6;
    width:45%;
    height:24px
}

